* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: static;
}

body {
    background-color: #d2d4d0;
}
/* Placed the main header and nav in the header container to make cleaner made the background color a little darker for better visual optimization*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #003953;
    color: #ffffff;
}  

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #7e807c;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    overflow: hidden;
}

header nav ul li {
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    font-size: 18px;
    margin-bottom: 5px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Added hover function to aid with visual optimziation*/
a:hover {
    background:#7e807c;
}

p {
    font-size: 18px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Consolidate the Main content under article to clean-up*/
article {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Made the background colors a little darker for better visual optimization*/
section {
  margin-bottom: 20px;
   padding: 50px;
   height: 300px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #024f74;
   color: #ffffff;
}

article img {
    max-height: 200px;
}

article h2 {
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 30px;
}
/* Utilized aside as a container and was able to consolidate items to have the same formats within the section*/
aside {
    margin-right: 20px;
    padding: 0px;
    vertical-align: middle;
    clear: both;
    float: right;
    width: 20%;
    height: 200%;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#024f74;
}

.aside {
    margin-bottom: 50px;
    text-align: center;
 }

.content {
    margin-bottom: 10px;
    margin-top: 0px;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #024f74;
    color: #ffffff;
}

aside h3 {
    margin-bottom: 20px;
    font-size: 20px; 
}

aside img {
    display: block;
    margin: 15px auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}
/*Changed the footer size for better visualization/optimizaton*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/*Kind of difficult at first because I would change code and it would throw off my entire design
and once I replace the original code-it would not revert back. I started over completely about 5 
times and just played around and tested things out. I attempted to utilize Dev Tools but I'm still
trying to get the hang of it.